.top-nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 8px;
  align-items: center;
  -webkit-box-shadow: 0 4px 6px -6px #222;
  -moz-box-shadow: 0 4px 6px -6px #222;
  box-shadow: 0 4px 6px -6px #222;
  height: 72px;
}

.top-nav-bar__logo {
  text-decoration: overline;
  font-weight: 500;
  font-size: 24px;
  color: #111;
  text-underline-position: auto;
  margin-left: 24px;
}

.icon{
  cursor: pointer;
  width: 40px;
  rotate: 180deg;
  position: relative;
  animation: icon 3.5s linear infinite;
}

.dark {
  color: rgb(240, 240, 240);
}

@keyframes icon {
  0% {top: 0px;}
  50% {top: -15px;}
  90% {top: 0px;}
}